.navbar-brand {
    font-size: 1.2rem;
}

.navbar .nav-link {
    padding: 8px 8px !important;
}

.table th {
    font-weight: 600;
}

.table td:first-child {
    font-weight: 500;
}

.no-results {
    padding: 40px;
    display: none;
}
