.navbar-brand {
    font-size: 1.2rem;
}

.navbar .nav-link {
    padding: 8px 8px !important;
}

.table th {
    font-weight: 600;
}

.table td:first-child {
    font-weight: 500;
}

.loading-spinner {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.loading-spinner .spinner-border {
    width: 3rem;
    height: 3rem;
}

.loading-spinner div {
    color: #666;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search-loading {
    display: none;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.no-results {
    padding: 40px;
    display: none;
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 1.35rem;
    }

    .table {
        font-size: 1.125rem;
    }

    .form-control {
        font-size: 1.125rem;
        padding: 10px 13px;
    }

    .table td, .table th {
        padding: 10px;
    }

    #wordCount, #dbVersion {
        font-size: 0.81rem;
    }
}
